#portfolio {
    .titulo {
        text-align: center;
        padding-block: 72px 56px;

        h3 {
            color: var(--red);
            margin-bottom: 8px;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 330px);
        justify-content: center;
        gap: 24px;
        padding-inline: 163px;
        padding-bottom: 144px;

        .card {
            background-color: var(--gray-400);
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            cursor: pointer;
            transition: all .4s ease;
            border: 1px solid transparent;

            &:hover {
                opacity: 90%;
                border: 1px solid var(--gray-300);
            }
        

            img {
                margin: 12px 12px 20px;
                max-width: 306px;
                border-radius: 8px;
                margin-bottom: 20px;
            }

            .texto-card {
                display: flex;
                flex-direction: column;
                margin: 0 16px 21px;

                span {
                    font: var(--title-sm);
                    color: var(--gray-100);
                    padding-bottom: 8px;
                }

                p {
                    font: var(--text-sm);
                    color: var(--gray-200);
                    max-width: 306px;
                }
            }
        }
    }
}

#servicos {
    padding-block: 88px 120px;
    background-color: var(--gray-600);

    .titulo {
        text-align: center;
        padding-bottom: 56px;

        h3 {
            color: var(--red);
            margin-bottom: 8px;
        }
    }

    .elementos {
        display: flex;
        justify-content: center;
        gap: 24px;

        .elemento {
            border: 2px solid var(--gray-500);
            border-radius: 12px;
            width: 280px;
            padding: 20px;
            cursor: pointer;
            transition: all .4s ease;

            &:hover {
                opacity: 90%;
                border: 2px solid var(--gray-300);
            }

            .texto-elemento {
                display: flex;
                flex-direction: column;

                span {
                padding-block: 20px 8px;
                font: var(--title-sm);
                }

                p {
                    font: var(--text-sm);
                    color: var(--gray-200);
                }
            }
        }
    }
}

#portfolio .cards .card span {
    transition: color 0.1s ease;
}   

#portfolio .cards .card:hover span {
    color: var(--blue);
}

#contato {
    background-image: url(../assets/Background_Contacts.png);
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: cover;
    height: 787px;
    max-width: 100%;
    text-align: center;
    padding-block: 128px 200px;

    .titulo {
        text-align: center;
        margin-bottom: 48px;

        h3 {
            color: var(--purple);
        }

        h2 {
            margin-block: 8px;
            color: var(--gray-100);
        }

        span {
            font: var(--text-md);
            color: var(--gray-300);
        }
    }

    .sociais {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .social {
            background-color: var(--gray-400);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 400px;
            border-radius: 8px;
            padding: 20px;
            border: 2px solid transparent;
            transition: all .3s ease;

            &:hover {
                border: 2px solid var(--blue);
            }

            span {
                font: var(--text-md);
                color: var(--gray-200);
            }

            .rede {
                display: flex;
                align-items: center;
                gap: 12px;

                i {
                    font-size: 28px;
                    color: var(--gray-300);
                }
            }
        }
    }
}

#contato .sociais .social i {
    transition: all .3s ease;
}

#contato .sociais .social:hover i {
    color: var(--blue);
}